<script>
	import Component from './Component.svelte';

	export let schema;
	export let config;
	export let data;

	let self;

	let componentsArr = {};

	for( const fieldName in schema ) {
		componentsArr[ fieldName ] = null;
	}

	export const getData = async () => {
		let data = {};

		for( const block of Object.entries( componentsArr ) ) {
			data[ block[0] ] = await block[1].getData();
		}

		return data
	}
</script>

<div class="cb-row" bind:this="{ self }">
	{#each Object.keys( schema ) as fieldName }
	<Component 
		bind:this="{ componentsArr[ fieldName] }"
		{ fieldName }
		fieldConfig={ schema[ fieldName ] }
		{ config }
		fieldData={ data[ fieldName ] }
	/>
	{/each}
</div>