<script>
	import Form from './Form.svelte';
	import { fade, fly } from 'svelte/transition';
	import { onMount } from "svelte";
	import { createEventDispatcher } from 'svelte';
	const dispatch = createEventDispatcher();

	export let schema;
	export let config;
	export let data;

	let ref;
	let formComponent;

	onMount(() => {
		document.body.appendChild(ref);
		return () => document.body.removeChild(ref);
	});

	const save = async () => dispatch( 'save', await formComponent.getData() );
</script>

<div>
	<div class="my-modal" bind:this={ref} transition:fade="{{ duration: 200 }}">
		<div class="my-modal__window" transition:fly="{{ y: 100, duration: 200 }}">
			<div class="my-modal__window-content">
				<Form
					bind:this="{ formComponent }"
					config="{ config }"
					data="{ data }"
					schema="{ schema }"
				/>
			</div>

			<div class="my-modal__toolbar cb-spaces">
				<button on:click={ () => save() } class="cdx-button" type="button">Сохранить</button>
				<button on:click={ () => dispatch('close') } class="cdx-button" type="button">Отмена</button>
			</div>
		</div>
	</div>
</div>